*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 689px;
    height: 440px;
    background-color: #d9d9d9;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
}

table{
    padding-top: 30px;
    text-align: left;
    transform: translateX(70px);

}   

/*CSS cho các label Username, Old password, New password, Re-en new password */
label{
    font-size: 22px;
}

/*CSS cho các dữ liệu đầu vào dạng text và password*/
input[type='text'],
input[type='password'] {
    width: 192px; 
    height: 28px;
    background-color: #a39393; 
    border: none; 
    margin: 13px 0px 13px 18px;
}

/*CSS cho nút submit CHANGE*/
input[type='submit']{
    width: 122px;
    height: 44px;
    background-color: #d63837;
    border: none;
    font-size: 20px;
    display: block;
    transform: translateY(30px);
    margin: 0 auto;
}