*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 550px;
    height: 360px;
    background-color: #d9d9d9;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
}

table{
    padding-top: 30px;
    text-align: left;
    transform: translateX(60px);

}

/*CSS cho các cột trong table */
table tr td{
    padding-top: 12px;
    padding-left: 6px;
}

/*CSS cho các label Username và Password*/
label{
    font-size: 25px;
}

/*CSS cho dữ liệu đầu vào dạng text và password*/
input[type='text'],
input[type="password"]{
    width: 192px; 
    height: 23px;
    background-color: #a39393; 
    border: none; 
}

/*CSS cho chữ của thẻ a*/
a{
  font-size: 20px;
  color: #a39393;
}

/*CSS cho nút submit Sign in*/
input[type='submit']{
    width: 122px;
    height: 44px;
    background-color: #d63837;
    border: none;
    font-size: 20px;
    display: block;
    transform: translateY(20px);
    margin: 0 auto;
}